@model WebApplication1_1105_TSET_member5.Models.Customer

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">使用者帳號</label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">密碼</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">電子信箱</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">手機號碼</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">姓名</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">性別</label>
                <select asp-for="Gender" class="form-control">
                    <option value="">請選擇</option>
                    <option value="true">男性</option>
                    <option value="false">女性</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">生日</label>
                <input asp-for="Birthday" type="date" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">大頭像</label>
                <input asp-for="ImgSrc" class="form-control" type="file" />
                <span asp-validation-for="ImgSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">顯示語言</label>
                <select asp-for="Language" class="form-control">
                    <option value="">請選擇</option> <!-- 預設選項 -->
                    <option value="TW">中文</option>
                    <option value="EN">英文</option>
                    <option value="JP">日文</option>
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">收件地址</label>
                <input asp-for="ReceiverAddress" class="form-control" />
                <span asp-validation-for="ReceiverAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
